.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.separator-text {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    background-color: black;
    z-index: 1;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: white;
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}
