body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: linear-gradient(45deg, #8B0000, #FF4500, #6A2C2C, #3E1F1D);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: black;
    overflow-y: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.container::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: #C20A09;
    height: 150px;
}